
h1 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 2.5rem;
  margin: 0;
  color:#F4CE14;
}

h2 , h4 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 1.8rem;
  margin: 0;
  color: #EDEFEE;
}

h3 {
  font-family: "Karla", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #EDEFEE;
  margin-block-end: 3rem;
}

a {
  text-decoration: none;
  font-family: "Markazi Text", serif;
  font-size: 1.8rem;
  font-weight: 400;
}

header {
  display: flex;
  align-items: center;
  padding: 1.5vw;
  justify-content: center;
}

header img {
  margin: 1vw 0 0 0;
}

ul {
  list-style-type: none;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  padding: 1vw;
  color:#333333;
}

#heroSection {
  display: flex;
  padding: 3vw;
  margin: 0 0 5vh 0;
  background-color: #495E57;
  justify-content: center;
}

#heroSection img {
  width:30vw;
  height: 60vh;
  object-fit: cover;
  border-radius: 16px;
}

#heroSection article {
  width: 30vw;
  margin: 1vw;
  padding: 3vw 0 0 3vw;
}

#heroSection a , #highlights > a{
  margin: 0 0 0 3vw;
  padding: 15px;
  background-color:#333333 ;
  color: #EDEFEE;
  border-radius: 16px;
  display: inline-block;
}

#highlights {
  text-align: center;
  margin-top: 5vh;
}

#highlights h2 {
  color: #333333;
  display: inline-block;
  width: 40vw;
  font-size: 2.5rem;
  text-align: left;
}

#highlightList{
  display: flex;
  justify-content: space-evenly;
}

#highlightList article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#highlights article {
  background-color: #EDEFEE;
  border-radius: 16px;
  width: 20vw;
  margin: 5vw;
}

#highlights img {
  width: 20vw;
  border-radius: 16px;
}

#highlights h4 {
  display: inline;
  font-size: 1.5rem;
  color: #333333;
}

#highlights h5 {
  display: inline;
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
  color: #EE9972;
}

article a {
  font-family: "Karla", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #333333;
  padding: 0 0 0 3vw;
}

#about {
  font-family: "Karla", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #333333;
  margin-block-end: 3rem;
  display: flex;
  justify-content: center;
}

#about article{
  width: 30vw;
}

#about img {
  width: 30vw;
  border-radius: 16px;
  object-fit: cover;
}

#testimonials {
  display: flex;
  justify-content: space-evenly;
}

#testimonials article {
  background-color: #EDEFEE;
  border-radius: 16px;
  width: 20vw;
  margin: 10vh 3vw 3vw 10vh;
}

#bookingPage {
  text-align: center;
}

#bookingPage form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#bookingPage form label , input, select{
  font-family: "Karla", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #333333;
  margin-block-start: 1rem;
}

input:invalid {
  border: solid 5px #d34604;
}

input[type="submit"] {
  color: #333333;
  background-color: #F4CE14;
  padding: 10px 40px 10px 40px;
}
input[type="submit"]:disabled {
  background-color: #EDEFEE;
  color: #9e9e9e;
  border: none;
}



h6 {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333333;
}

footer {
  display: flex;
  justify-content: space-around;
  margin: 8vh;
}

footer h2 {
  color: #EE9972;
}

footer a , footer p, footer li{
  color: #333333;
  font-family: "Karla", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  header img {
    width: 90vw;
  }

  header nav ul li {
    float: none;
  }

  #heroSection {
    flex-direction: column;
    align-items: center;
  }

  #heroSection article , #heroSection img{
    width: 90vw;
  }

  #highlightList{
    flex-direction: column;
  }

  #highlights article{
    width: 90vw;
    margin: 2vw;
  }

  #highlights img {
    width: 90vw;
  }

  #about {
    flex-direction: column;
    align-items: center;
  }
  
  #about article{
    width: 80vw;
  }
  
  #about img {
    width: 80vw;
  }

  #testimonials {
    flex-direction: column;
    align-items: center;
  }

  #testimonials article{
    width: 80vw;
    margin-left: 0;
    margin-right: 0;
  }


  footer {
    flex-direction: column;
  }

  footer div {
    margin-top:10vw;
  }
}